<div class="outer">
<h1> ToDo List!</h1>

<form action="/" method="post">
 
  <input type="text" name="item" placeholder="Enter your item here">
  <input type="date" name="dueBy" placeholder="What date is your item due by?">
  <input type="text" name="category" placeholder="What category is your item?">
  
  <input type="submit" placeholder="submit">
</form>

{{!-- post method asks the server to accept/store date in JSON format. This is the body of the request  --}}

<div id="main" >
  <ul>
    {{#each allList}}
    <div id="container" style="background-color:{{col}}">
        <li><b>Item:</b> {{this.item}}</li>
        <li><b>Due by:</b> {{this.dueBy}}</li>
        <li><b>Category:</b> {{this.category}}</li>
         <form action="/removeItem" method="post">
        <button name="remove" type="submit" value={{this._id}}> Delete </button>
        </form>
        <form action="/markComplete" method="post">
        <button name="complete" type="submit" value={{this._id}}> Completed </button>
        </form>

        {{!-- <form action="/removeItem" method="post">
        <button name="remove" type="submit" value={{this._id}}> Delete </button>
        </form>
     --}}

    </div> 
    {{/each}}
 </ul>
 </div> 